PABA/Intermediate/
PABA/Intermediate/
PABA/Saved/
PABA/DerivedDataCache/
*.VC.db
PABA/Intermediate/
PABA/Saved/
PABA/DerivedDataCache/
*.VC.db
PABA/Intermediate/
PABA/Saved/
PABA/DerivedDataCache/
*.VC.db
PABA/Intermediate/
PABA/Saved/
PABA/DerivedDataCache/
*.VC.db
